{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="cover-heading">About client B</h1>
    <p class="lead">
        This is client B for <a href="https://github.com/shield-sso" class="text-link">Shield SSO</a> project,<br>
        which is a part of <a href="https://github.com/daniel-iwaniec" class="text-link">Daniel Iwaniec</a>'s bachelor's thesis.
    </p>
{% endblock %}
