{% extends 'base.html.twig' %}

{% block body %}
        <h1 class="cover-heading">Client B for Shield SSO</h1>
        {% if is_granted('ROLE_USER') %}
            <p class="lead">It appears that you are already logged in.</p>
            <p class="lead">
                <a href="{{ path('logout') }}" class="btn btn-lg btn-secondary">Log out</a>
            </p>
        {% else %}
            <p class="lead">It appears that you are not logged in.</p>
            <p class="lead">
                <a href="{{ path('login') }}" class="btn btn-lg btn-secondary">Log in</a>
            </p>
        {% endif %}
{% endblock %}
